@media print {
    @page {
        size: landscape;
    }
    /* body {
        writing-mode: tb-rl;
    } */
    .operationClass {
        display: none !important;
    }
}

/* @page {
    size: 266mm 165mm;
} */

.badge-parent {
    width: 85.17mm;
    height: 52.75mm;
}
